<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Registro de productos</title>

<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
	crossorigin="anonymous">
</head>
<br>
<body>
	<div class="container">
		<div class="row">
			<div class="col-lg-6 col-md-6 container justify-content-center card">
				<h1 class="text-center">Registro de productos</h1>
				<div class="card-body">
					<form th:action="@{/productos}" th:object="${producto}"
						method="POST">
						<div class="form-group">
							<label>Nombre : </label> 
							<input type="text" name="nombre"
								th:field="*{nombreProducto}" class="form-control"
								placeholder="Digite el nombre del producto" required>
						</div>
						<div class="form-group">
							<label>Valor : </label> 
							<input type="text" name="valor"
								th:field="*{valorProducto}" class="form-control"
								placeholder="Digite valor del producto" required>
						</div>
						<div class="form-group">
							<label>Estado : </label> 
							<input type="text" name="estado"
								th:field="*{estadoProducto}" class="form-control"
								placeholder="Digite el estado del producto" required>
						</div>
						<div class="form-group">
							<label>Stock : </label> 
							<input type="text" name="stock"
								th:field="*{stock}" class="form-control"
								placeholder="Digite el stock de producto" required>
						</div>
						<br>
						<div class="box-footer">
						<button class="btn btn-success">Guardar</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</body>